@use '../../styles/breakpoint' as *;

.people-list {
    font-family: Roboto, sans-serif;

    table {
        width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;

        th,
        td {
            padding: 8px 16px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            min-height: 24px;
        }

        tbody {
            td:last-child {
                text-align: right;
            }
        }
    }
}