@use '../../styles/breakpoint' as *;

.main {
  margin: 16px;
  min-height: 100vh;
  align-items: center;

  @include ds-screen-size('medium') {
    max-width: 900px;
    margin: 32px auto;
  }

  @include ds-screen-size('large') {
    margin: 16px auto;
    max-width: 900px;
    min-width: 900px;
  }

  .button-section {
    margin: 32px 0;
  }

  pending {
    width: 50%;
    margin: auto;
  }
}